body{
    color: black;
    padding: 1px;
    margin: 0px;
    background: url('https://source.unsplash.com/random/?white') center;
    background: url('img\\vertical-pattern-frame-brown-petals-white-background-68978343.jpg') ;
    width: 100%;
    /* background-size: cover; */
}
header{
    display: block;
    color: white;
    position: absolute;
    border:5px solid black ;
    width: 99%;
    background-color:#c2cad0;;
    height: 6.3em;
    border-radius: 30px;
    
}
footer{
    color: rgb(0, 0, 0);
    border:5px solid black ;
    width: 100%;
    position: relative;
    display: flex;
    height: auto;
    bottom: 0px;
    border-radius: 30px;
    font-size: 1.8em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer li{
    text-decoration: none;
    list-style-type: none;
}

footer a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin: 14px 0px 0px 0px;
}

footer ul li{
    margin-left: -1.3em;
    color: black;
    padding: 10px 0px 0px 0px;
}

.footer_elements li a{
    display: flex;
    justify-content: center;
    padding: 0px 0px 0px 0px;
}

.footer_elements li h3{
    display: flex;
    justify-content: center;
    padding: 0px 0px 0px 0px;
}

footer ul li a:hover
{
    position: relative;
    color: #fd6e3a;
    left: 45px;
    font-size: 22px;
}

footer ul li img
{
  height: 1em;
}

#foot1{
    width: 45%;
    margin-left: 1em;
}

#foot2
{
    width: 50%;
    /* padding-bottom: 1em; */
    margin: 0px 0px 0px 0px;
}
#foot3{
    width: 25%;
    margin: 0px 80px 0px 0px;
}


.left{
    /* border:solid white 5px; */
    margin-left: 2px;
    display: inline-block;
    border-radius : 22px;
    position: absolute;
    left: 13px;
    font-size: 1.3em;
    font-family: "Lobster",cursive;
    padding: 5px;
    text-align: center;
    top: 2px;
    width: 5%;
    height: 80%;
}
.mid{
    display: block;
    width: 100%;
    margin: 2px auto ;
    position: relative;
    top: 0.4em;
}

.right{
    border: 6px solid hsl(0, 33%, 99%);
    margin: 12px 0px 0px 0px;
    display: inline-block;
    position: absolute;
    right: 20px;
    padding: 0px;
    width :auto;
    border-radius: 9px;
}
.right input{
    width: 75%;
}
.navbar{
    display :inline-block;
    color: wheat;
    margin: 9px 0px 0px 110px;
}
.navbar li{
    display :inline;
    text-decoration: none;
    color: white;
    padding: 6px 9px;
    font-size: 1.7em;
    font-family:   'Times New Roman', serif;
    font: bold;
}
.navbar li a{
    text-decoration: none;
    color: white;

}
.navbar li a:hover,.navbar li a.active{
    display :inline;
    color: #7e685a;
    padding: 3px 3px;
    box-shadow: 0px 0px 4px 5px;
    border-radius: 10px;
   
}

.navbar li a:hover{
    position: relative;
    top: 10px;
}
.left img{
    width :85%;
    height: 70%;
    border-radius: 50%;

}
